
   <footer>

    <!-- page body content end -->

    <!-- footer-2 begin -->
    <div id="footer-2">
      
          <div class="container">
             <div class="row">
                <div class="col-md-6">
                   <div class="about-us-box mobile-collapse">
                      <div class="title-type-1 mobile-collapse-header">
                         About Us
                      </div>
                      <div class="mobile-collapse-body">
                         <p>In a quickly changing and evolving world, the challenges you face are ever more unique and complex. To find solutions, you need forward-thinking, agile, caring partners that can help you transform, adapt, and build. At Nagarro, we excel at digital product engineering and deliver on our promise of thinking breakthroughs.</p>
                         <p>The nature of IT & digital product engineering has reached an incredible state of velocity and transition. We must adapt and meet it with an agile mindset that isn't afraid to iterate towards the perfect solution. If we only solve today's problems, it's not enough. We must do more. We must courageously embrace the future, with vision and clarity about where technology & business are heading. Thinking breakthroughs gets us there. Spend some time with us and we'll help you future-proof your business.</p>
                      </div>
                   </div>
                </div>
                <div class="col-md-6">
                   <div class="contact-info-box mobile-collapse">
                      <div class="title-type-1 mobile-collapse-header">
                         Contact Info
                      </div>
                      <ul class="list-unstyled mobile-collapse-body">
                         <li><span><i class="icon-pointer"></i></span><span>Maruti Udyog, Sector 18, Gurugram, Haryana, 122015</span></li>
                         <li><span><i class="icon-screen-smartphone"></i></span><span> +91-9574104662</span></li>
                         <li><a href="mailto:dharmesh.nadola@nagarro.com"><span><i class="icon-envelope "></i></span><span>dharmesh.nadola@nagarro.com</span></a></li>
                         <li><a href="https://nagarro.com" target="_blank"><span><i class="icon-globe"></i></span><span>www.nagarro.com</span></a></li>
                      </ul>
                   </div>   
                </div>
                <!-- <div class="col-md-4">
                   <div class="facebox-fan-box box-with-top-button mobile-collapse">
                      <div class="title-type-1 mobile-collapse-header">
                         Facebook Fans
                      </div>
                      <div id="fb-fans" class="mobile-collapse-body">
                         <iframe src="https://www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2FFacebookDevelopers&amp;width=360&amp;height=258&amp;colorscheme=light&amp;show_faces=true&amp;header=false&amp;stream=false&amp;show_border=false&amp;appId=388032001306737"></iframe>
                      </div>
                   </div>
                </div> -->
             </div>
          </div>
       
    </div>
    <!-- footer-2 end -->
    <!-- footer-3 begin -->
    <!-- <div id="footer-3">
       
          <div class="container">
             <div class="row">
                <div class="col-md-3 col-sm-12">
                   <div class="information-box mobile-collapse">
                      <div class="title-type-2 mobile-collapse-header">
                         Information
                      </div>
                      <ul class="list-unstyled mobile-collapse-body">
                         <li>
                            <a href="category.html">
                               Bestsellers
                            </a>
                         </li>
                         <li>
                            <a href="category.html">
                               New product
                            </a>
                         </li>
                         <li>
                            <a href="category.html">
                               Special product
                            </a>
                         </li>
                         <li>
                            <a href="category.html">
                               Featured product
                            </a>
                         </li>
                         <li>
                            <a href="contact.html">
                               Contact
                            </a>
                         </li>
                      </ul>      
                   </div>
                </div>
                <div class="col-md-3 col-sm-12">
                   <div class="product-tags-box mobile-collapse">
                      <div class="title-type-2 mobile-collapse-header">
                         Product Tags
                      </div>
                      <div class="tags mobile-collapse-body">
                         <a href="category.html">Men</a>
                         <a href="category.html">Furniture</a>
                         <a href="category.html">Electronic</a>
                         <a href="category.html">Fabric</a>
                         <a href="category.html">Jackets</a>
                         <a href="category.html">Clothes</a>
                         <a href="category.html">Flowers</a>
                         <a href="category.html">Book</a>
                         <a href="category.html">Shorts</a>
                      </div>
                   </div>
                </div>
                <div class="col-md-3 col-sm-12">
                   <div class="my-account-box mobile-collapse">
                      <div class="title-type-2 mobile-collapse-header">
                         My Account
                      </div>
                      <ul class="list-unstyled mobile-collapse-body">
                         <li>
                            <a href="account.html">
                               My Account
                            </a>
                         </li>
                         <li>
                            <a href="wishlist.html">
                               Wishlist
                            </a>
                         </li>
                         <li>
                            <a href="review_page.html">
                               Testimonials
                            </a>
                         </li>
                         <li>
                            <a href="coming-soon.html">
                               Newsletter
                            </a>
                         </li>
                         <li>
                            <a href="blog.html">
                               Blog
                            </a>
                         </li>
                      </ul>      
                   </div>
                </div>
                <div class="col-md-3 col-sm-12">
                   <div class="main-categories-box mobile-collapse">
                      <div class="title-type-2 mobile-collapse-header">
                         Main Categories
                      </div>
                      <ul class="list-unstyled mobile-collapse-body">
                         <li>
                            <a href="category.html">
                               For Men
                            </a>
                         </li>
                         <li>
                            <a href="category.html">
                               Jeans
                            </a>
                         </li>
                         <li>
                            <a href="category.html">
                               Jackets
                            </a>
                         </li>
                         <li>
                            <a href="category.html">
                               For Her
                            </a>
                         </li>
                         <li>
                            <a href="category.html">
                               Accessories
                            </a>
                         </li>
                      </ul>      
                   </div>
                </div>
             </div>
          </div>
       
    </div> -->
    <!-- footer-3 end -->
    <!-- footer-4 begin -->
    <div id="footer-4">
       
          <div class="container">
             <div class="row">
                <div class="col-md-6 text-center-md">
                   <img src="assets/images/credit-cards.png" alt="accepted credit cards">
                </div>
                <div class="col-md-6 text-right text-center-md">
                   <!-- <ul id="social-buttons" class="list-inline">
                      <li class="facebook"><a href="#"><i class="icon-social-facebook"></i></a></li>
                      <li class="tweeter"><a href="#"><i class="icon-social-twitter "></i></a></li>
                      <li class="gplus"><a href="#"><i class="social_googleplus "></i></a></li>
                      <li class="youtube"><a href="#"><i class="social_youtube"></i></a></li>
                      <li class="instantgram"><a href="#"><i class="social_instagram "></i></a></li>
                      <li class="skype"><a href="#"><i class="social_skype"></i></a></li>
                   </ul> -->
                </div>
             </div>
          </div>
       
    </div>   
    <!-- footer-4 end -->
    <!-- footer-5 begin -->
    <div id="footer-5">
      
          <div class="container">
             <p class="copyright">
                © 2023 <i class="icon_heart"></i> <a href="https://nagarro.com"  target="_blank">Nagarro</a> All right reserved.
             </p>
          </div>
       
    </div>
    <!-- footer-5 end -->   

 </footer>

 <!-- JS Libs -->
 <script src="js/jquery-1.11.0.min.js"></script>
 <script src="js/jquery-ui-1.10.4.custom.min.js"></script>
 <script src="js/bootstrap.min.js"></script>
 <script src="js/jquery.bxslider.min.js"></script>
 <script src="js/jquery-accessibleMegaMenu.js"></script>
 <script src="js/jquery.validationEngine.js"></script>
 <script src="js/jquery.validationEngine-en.js"></script>

 <script src="plugins/responsiveslides/responsiveslides.min.js"></script>

 <script src="js/plugins.js"></script>
 <script src="js/scripts.js"></script>
